<ion-header no-border class="fixed">
  <ion-toolbar no-border color="primary">
    <ion-title>
      <strong>{{ settingArray['Empresa'] }}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="searchProduct()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="sub-header fixed" color="primary" no-border>
  <ion-toolbar no-border color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-text>
              <strong>Productos</strong>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-icon name="cube-outline"></ion-icon>&nbsp;
            <ion-text>
              <strong>{{ productArray.length }}</strong>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="search" *ngIf="search">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            Buscar por nombre
          </ion-label>
          <ion-input
            name="buscador"
            type="text"
            max="20"
            (keyup)="onKeyUpEvent($event)"
            required
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>
          <ion-button (click)="closeSearch()" slot="end">
            <ion-icon name="close-outline" slot="start"></ion-icon>
            Cerrar
          </ion-button>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <ion-list #lista *ngIf="dataArray.length > 0">
    <ion-item-group #ItemId>
      <ion-item-sliding  class="no-border"
        *ngFor="let r of dataArray; let i=index"
        (ionSwipe)="swipeEvent($event, ItemId, r.codigo)"
      >
        <ion-item 
          detail 
          (click)="showProduct(r, settingArray,i)" style="margin-left: -0.5rem; margin-right: -0.5rem;">
          <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-avatar>
                <img [src]="(r.foto) ? changeSecurityRutaFoto(r.foto) : 'assets/img/caja.jpg'" style="width: 50px; height: 50px;"/>
              </ion-avatar>
            </ion-col>
            <ion-col size="10">
                <ion-label style="height: 2.7rem; margin-top: 0.1rem; border: 0px;" class="ion-text-wrap">
                  {{ r.nombre | uppercase }}
                </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="dark" expandable>
            <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <!-- <ion-item-options side="end">
          <ion-item-option color="dark" expandable>
            <ion-icon name="cart-outline" slot="icon-only" color="success"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button>
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button (click)="uploadProducts()" color="warning">
      <!-- <ion-fab-button (click)="sync(productArray)" color="warning"> -->
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="confirmReset()" color="danger"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="top">
      <ion-fab-button color="secondary">
        <label for="txtFileUpload">
          <ion-icon name="document-outline"></ion-icon>
        </label>
        <input
          #csvReader
          name="Upload CSV"
          id="txtFileUpload"
          type="file"
          class="hideInput"
          (change)="uploadListener($event)"
          accept=".csv"
          style="display: none !important"
        />
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="loadViewCloud()">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadDataScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="cargando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
