.search{
  border-color: black;
  height: 8.5rem;
  text-align: center;
}

.oscuro{
    background-color: gainsboro;
  }

.claro{
    background-color: ghostwhite;
  }

ion-content ion-row {
  height: 2.5rem;
  line-height: 1rem;
}

ion-item {
  height: 3rem;
}