<ion-header no-border class="fixed">
  <ion-toolbar no-border color="primary">
    <ion-buttons shape="round" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ setting['Empresa'] }}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="confirmRemove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="sub-header fixed" color="primary" no-border>
  <ion-toolbar no-border color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-text>
              <strong>Producto</strong>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="ion-text-center fotoContent"
    style="display: flex; justify-content: center"
  >
    <img
      [src]="(productShow.foto) ? safeImg : 'assets/img/caja.jpg'"
      class="foto"
    />
  </div>
  <ion-item>
    <ion-icon name="cart-outline" slot="start" color="tertiary"></ion-icon>
    <ion-text> {{ productShow.nombre | uppercase }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="document-outline" slot="start" color="tertiary"></ion-icon>
    <ion-text> {{ productShow.codigo | uppercase }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon
      name="file-tray-full-outline"
      slot="start"
      color="primary"
    ></ion-icon>
    <ion-text> {{ productShow.unidad || 'SIN ASIGNAR' }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="server-outline" slot="start" color="primary"></ion-icon>
    <ion-text class="ion-text-wrap"> {{ productShow.existencia }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
    <ion-text> {{ productShow.precio1 }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
    <ion-text> {{ productShow.precio2 }} </ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
    <ion-text> {{ productShow.precio3 }} </ion-text>
  </ion-item>

  <!-- <ion-button
    type="button"
    color="warning"
    (click)="close()"
    size="default"
    expand="block"
  >
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    <span> Cerrar</span>
  </ion-button> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="confirmDelete()" *ngIf="productShow.foto">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getFotoGallery()">
        <ion-icon name="image-outline" color=""></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getFotoCamera()">
        <ion-icon name="camera-outline" color="secondary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
